<div class="alert alert-block alert-success" style="display:none;">
  <button type="button" class="close" data-dismiss="alert">
    <i class="icon-remove"></i>
  </button>

  <p>
    <strong>
      <i class="icon-ok"></i>
    </strong>
    配置信息保存成功
  </p>

</div>

<%= form_with(model:config,local:false,:html => {:class=>'form-horizontal m-t',:multipart => true}) do |f| %>
    <h3 class="header smaller lighter blue">
系统配置
      <small></small>
    </h3>
    <div class="form-group">
      <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> AppID </label>
      <div class="col-sm-10">
        <%= f.text_field :appid,class:"col-xs-10 col-sm-8" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> AppSecret </label>
      <div class="col-sm-10">
        <%= f.text_field :appsecret,class:"col-xs-10 col-sm-8" %>
      </div>
    </div>
  <div class="form-group">
    <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 高德行政区域key </label>
    <div class="col-sm-10">
      <%= f.text_field :amapareakey,class:"col-xs-10 col-sm-8" %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 自动确认收货（天） </label>
    <div class="col-sm-10">
      <%= f.number_field :autoreceipt,class:"col-xs-10 col-sm-8" %>
    </div>
  </div>
    <div class="form-group">
      <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 自动确认评价（天） </label>
      <div class="col-sm-10">
        <%= f.number_field :autocomment,class:"col-xs-10 col-sm-8" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 银行卡最小提现金额（元） </label>
      <div class="col-sm-10">
        <%= f.number_field :minbankamount,class:"col-xs-10 col-sm-8" %>
      </div>
    </div>
  <div class="form-group">
    <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 快递100key </label>
    <div class="col-sm-10">
      <%= f.text_field :deliverkey,class:"col-xs-10 col-sm-8" %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 快递100实时查询customer </label>
    <div class="col-sm-10">
      <%= f.text_field :delivercustomer,class:"col-xs-10 col-sm-8" %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 二维码示例图 </label>
    <div class="col-sm-10" style="padding-right: 70px;">
      <%= f.file_field :qrdemo,class:"col-xs-10 col-sm-8" %>
      <% if @config.qrdemo %>
        <img width="40px" src="<%= @config.qrdemo.url %>">
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 用户头像示例图 </label>
    <div class="col-sm-10" style="padding-right: 70px;">
      <%= f.file_field :headdemo,class:"col-xs-10 col-sm-8" %>
      <% if @config.headdemo %>
        <img width="40px" src="<%= @config.headdemo.url %>">
      <% end %>
    </div>
  </div>

    <div class="clearfix form-actions">
      <div class="col-md-offset-2 col-md-10">
        <button type="submit" name="commit" value="保存" class="btn btn-info" data-disable-with="保存" id="submit">
          <i class="icon-ok bigger-110"></i>
          保存
        </button>

      </div>
    </div>
<% end %>