<%= render 'layerbegin' %>

<div class="page-content">
  <div class="page-header">
    <h1>
      <%= @user.nickname %>(<%= @user.phone %>)
    </h1>
  </div><!-- /.page-header -->




  <div class="row">
    <div class="col-xs-12">
      <!-- PAGE CONTENT BEGINS -->

      <div class="row">
        <div class="col-xs-12">
          <div class="table-responsive">
            <table id="sample-table-1" class="table table-striped table-bordered table-hover" >
              <thead>
              <tr>
                <th class="text-center">冲值时间</th>
                <th class="text-center">冲值金额</th>
                <th class="text-center">备注</th>

              </tr>
              </thead>
              <tbody>
              <% @agentpaymentrecorders.each do |agentpaymentrecorder| %>
                <tr>
                  <td style="vertical-align: middle;">
                    <%= agentpaymentrecorder.paymenttime.strftime('%Y-%m-%d %H:%M:%S') %>
                  </td>
                  <td align="right">
                    <%=  number_to_currency(agentpaymentrecorder.agentpayment,unit: "￥") %>
                  </td>
                  <td style="vertical-align: middle;">
                    <%= agentpaymentrecorder.summary %>
                  </td>


                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="clearfix form-actions">
        <div class="col-md-6" style="padding-top: 10px;">
          <span class="red h4">剩余货款：</span>
          <span class="red h4"><%= @user.agentpayment.to_f %></span>
        </div>
        <div class="col-md-16 text-right" data-turbolinks="false">
          <a class="btn btn-info" href=<%= new_user_agentpaymentrecorder_path(@user) %>>
            <i class="fa fa-plus bigger-110"></i>
            冲值
          </a>
        </div>
      </div>






<%= render 'layerend' %>