<%= render 'layerbegin' %>

<div class="page-content">
  <div class="page-header">
    <h1>
      用户
    </h1>
  </div><!-- /.page-header -->

  <div class="row">
    <div class="col-xs-12">
      <!-- PAGE CONTENT BEGINS -->

      <div class="row">
        <div class="col-xs-12">
          <div class="table-responsive">
            <table id="sample-table-1" class="table table-striped table-bordered table-hover" >
              <thead>
              <tr>
                <th class="text-center"></th>
                <th class="text-center">vipid</th>
                <th class="text-center">昵称</th>
                <th class="text-center">账号</th>
                <th class="text-center">货款</th>
                <th class="text-center">保证金</th>
                <th class="text-center">代理</th>
                <th class="text-center">新订单提醒</th>
                <th class="text-center" width="200px">操作</th>
              </tr>
              </thead>
              <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td style="vertical-align: middle;">
                    <img width="40px" src=<%= user.headurl %>>

                  </td>
                  <td style="vertical-align: middle;">
                    <%= user.vipid %>
                  </td>
                  <td style="vertical-align: middle;">
                    <%= user.nickname %>
                  </td>
                  <td style="vertical-align: middle;">
                    <%= user.login %>
                  </td>
                  <td style="vertical-align: middle;">
                    <%= user.agentpayment.to_f  %>
                  </td>
                  <td style="vertical-align: middle;">
                    <%= user.deposit.to_f  %>
                  </td>
                  <td style="vertical-align: middle;">
                    <%= user.agentlevel_id.to_i != 0 ? user.agentlevel.name : ''  %>
                  </td>
                  <td style="vertical-align: middle;" class="text-center">
                    <% if user.receiveneworder == 1 %>
                      <i class="icon-ok green"></i>
                    <% end %>
                  </td>

                  <td style="vertical-align: middle;">
                    <div class="visible-md visible-lg hidden-sm hidden-xs btn-group" data-turbolinks="false">
                      <a class="btn btn-xs btn-primary" href=<%= user_path(user) %>>
                        <i class="fa fa-edit bigger-120"></i>
                        明细
                      </a>
                      <a class="btn btn-xs btn-primary" href=<%= edit_user_path(user) %>>
                        <i class="fa fa-edit bigger-120"></i>
                        编辑
                      </a>
                      <a class="btn btn-xs btn-primary" href=<%= addtoagent_user_path(user) %> <% if user.agentlevel %> disabled="true" <% end %> >
                        <i class="fa fa-edit bigger-120"></i>
                        成为代理
                      </a>
                      <!--                        <a class="btn btn-xs btn-primary" href=<%#= user_agentpaymentrecorders_path(user) %>>-->
                      <!--                          <i class="fa fa-edit bigger-120"></i>-->
                      <!--                          货款-->
                      <!--                        </a>-->
                      <!--                        <a class="btn btn-xs btn-primary" href=<%#= deposit_user_path(user) %>>-->
                      <!--                          <i class="fa fa-edit bigger-120"></i>-->
                      <!--                          保证金-->
                      <!--                        </a>-->
                    </div>
                  </td>

                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="clearfix form-actions">
        <div class="col-md-12 text-right" data-turbolinks="false">
          <a class="btn btn-info" href=<%= new_manufacturer_path %>>
            <i class="fa fa-plus bigger-110"></i>
            新增
          </a>
        </div>
      </div>






<%= render 'layerend' %>